#chat-container {
  width: 40vw;
}

#info {
  display: flex;
  flex-direction: column;
}

#info-text {
  background-color: #f5f5f5d8;
  border-radius: 10px;
  width: 80vw;
  text-align: center;
  height: auto;
  padding: 10px;
  font-size: 13px;
  margin-top: 10px;
}

#upload {
  display: flex;
  flex-direction: row;
  height: auto;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: space-around;
  justify-content: space-between;
  column-gap: 10px;
  row-gap: 10px;
  max-width: auto;
}

#upload-buttons {
  display: flex;
  background-color: #a531dc;
  overflow: hidden;
}

#upload-buttons span {
  color: white;
  font-size: 15px;
  font-weight: 700;
  padding-right: 5px;
}

#submit-docs {
  border-radius: 100%;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#prompt-div {
  display: flex;
  width: 90vw;
}

input[type="text"] {
  width: 90%;
}
