#home-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80vh;
  gap: 20px;
}

button {
  width: 70vw;
  cursor: auto;
}
button a {
  font-size: 17px;
  font-weight: 500;
}
button a:hover {
  color: yellow;
  transition: 0.7;
}
