#home-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80vh;
  gap: 20px;
}

a,
button a {
  color: white;
}

#engage-btn {
  width: 70vw;
  cursor: auto;
}
#engage-btn a {
  font-size: 17px;
  font-weight: 500;
}
#engage-btn a:hover {
  color: yellow;
  transition: 0.7;
}
